body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }

  .header {
    height: 46px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .container .logo {
    height: auto;
    width: 130px;
  }

  .header .search {
    border-bottom: 1px solid #7A7A7A;
    width: 40%;
  }

  .header .search input {
    border: none;
    outline: none;
    background-image: url(../image/search.png);
    background-repeat: no-repeat;
    background-position: right 2px;
    height: 23px;
    width: 99.5%;
  }

  .header .shopping {
    display: flex;
    align-items: center;
  }

  .header .shopping .indicator {
    width: 18px;
    height: 18px;
    background-color: #F8475F;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 4px;
  }

  .banner {
    background-image: url(../image/payment.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 52% 100%;
  }

  .banner .wave {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 335px;
    color: #ffffff;
    background-image: url(../image/mask.png);
    background-position: inherit;
  }

  .banner .wave>div {
    margin-right: 60px;
  }

  .banner .wave div div {
    font-size: 24px;
  }

  .banner .wave div h2 {
    width: 311px;
    font-size: 30px;
  }

  .prateleira {
    width: 80%;
    margin: 0 auto;
  }

  .prateleira .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .prateleira .container .item-shop {
    width: 216px;
    padding: 0 0 18px;
    text-align: center;
    background-color: #ffffff;
    transition: background-color ease 500ms;
  }

  .prateleira .container .item-shop:hover {
    background-color: #E6E8EA;
  }

  .prateleira .container .item-shop .image {
    width: 216px;
    height: 200px;
  }

  .item-shop .button {
    background-color: #000000;
    padding: 10px 0;
    color: #ffffff;
    border: none;
    width: 150px;
    border-radius: 4px;
    transition: opacity ease 500ms;
  }

  .item-shop .button:hover {
    opacity: 0.8;
  }

  .item-shop .value {
    margin: 8px 0;
  }

  .item-shop .parcelas {
    font-size: 11px;
    color: #7A7A7A;
    margin-bottom: 8px;
  }

  .product {
    margin: 6px 0 18px;
  }

  .product .name {
    margin: 0 0 4px;
    color: #7A7A7A;
  }

  .product .stars {
    display: flex;
    justify-content: center;
  }

  .product .stars .star {
    width: 14px;
    height: 14px;
    margin: 0 4px;
    background-image: url(../image/start-empty.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 200ms ease;
  }

  .product .stars .star:hover, .product .stars .star.full {
    background-image: url(../image/star-full.png);
  }