body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.header {
  height: 46px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .logo {
  height: auto;
  width: 130px;
}

.header .container .search {
  border-bottom: 1px solid #7A7A7A;
  width: 40%;
  min-width: 280px;
}

.header .container .search input {
  border: none;
  outline: none;
  background-image: url(../image/search.png);
  background-repeat: no-repeat;
  background-position: right 2px;
  height: 23px;
  width: 99.5%;
}

.header .container .my-account {
  color: #7A7A7A;
}

.header .container .shopping {
  display: flex;
  align-items: center;
}

.header .container .shopping .indicator {
  width: 18px;
  height: 18px;
  background-color: #F8475F;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 4px;
}

.header .container .shopping .indicator b {
  font-size: 10px;
  margin: 3px 0;
  display: block;
}

.banner {
  background-image: url(../image/payment.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 52% 100%;
}

.banner .wave {
  width: 54%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 335px;
  color: #ffffff;
  background-image: url(../image/mask.png);
  background-position: inherit;
}

.banner .wave>div {
  margin-right: 60px;
}

.banner .wave div div {
  font-size: 24px;
}

.banner .wave div h2 {
  margin: 0;
  width: 311px;
  font-size: 30px;
}

.prateleira {
  width: 80%;
  margin: 0 auto;
}

.prateleira .title-container {
  margin: 16px 0;
}

.prateleira .title-container .title {
  margin: 0 0 4px;
}

.prateleira .title-container div {
  border-bottom: 4px solid #C0C0C0;
  width: 50px;
}

.prateleira .container, .prateleira .carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prateleira .container .item-shop, .prateleira .carousel .item-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 18px;
  text-align: center;
  background-color: #ffffff;
  transition: background-color ease 500ms;
}

.prateleira .carousel .item-shop:hover {
  background-color: #E6E8EA;
}

.prateleira .carousel .item-shop .image {
  width: 100%;
  background-color: #FFFFFF;
}

.prateleira .carousel .item-shop .image img {
  width: 99.99%;
}

.slick-prev:before, .slick-next:before {
  color: #000000 !important;
}

.slick-dots li.slick-active button:before {
  color: #F8475F !important;
}

.item-shop .button {
  background-color: #000000;
  padding: 10px 0;
  color: #ffffff;
  border: none;
  width: 150px;
  border-radius: 4px;
  transition: opacity ease 500ms;
}

.item-shop .button:hover {
  opacity: 0.8;
}

.item-shop .old-price {
  color: #7A7A7A;
  font-size: 12px;
  text-decoration-line: line-through;
}

.item-shop .best-price {
  margin: 8px 0;
}

.item-shop .parcelas {
  font-size: 11px;
  color: #7A7A7A;
  margin-bottom: 8px;
}

.product {
  margin: 6px 0 18px;
}

.product .name {
  margin: 0 0 4px;
  color: #7A7A7A;
}

.product .stars {
  display: flex;
  justify-content: center;
}

.product .stars .star {
  width: 14px;
  height: 14px;
  margin: 0 4px;
  background-image: url(../image/start-empty.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 200ms ease;
}

.product .stars .star:hover, .product .stars .star.full {
  background-image: url(../image/star-full.png);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  color: #ffffff;
  background: #000000;
  margin: 36px 0 0;
}

.footer .container {
  width: 80%;
}

.footer .container .title-container {
  margin: 16px 0;
}

.footer .container .title-container h3 {
  margin: 0 0 4px;
}

.footer .container .title-container div {
  border-bottom: 4px solid #ffffff;
  width: 50px;
}

.footer .container .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .container .info .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .container .info .button {
  width: 198px;
  display: block;
  margin-top: 24px;
}

.footer .container .info .logos {
  width: 180px;
  margin-top: 16px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Common styles */

.button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  transition: opacity ease 500ms;
}

.button img {
  margin-right: 8px;
  vertical-align: bottom;
}

.button:hover {
  opacity: 0.80;
}

@media(min-width: 701px) and (max-width: 1125px) {
  .banner .wave {
    width: 58%;
  }
  .banner .wave>div {
    margin: 0 50px;
  }
}

@media(max-width: 700px) {
  .header {
    height: auto;
  }
  .header .container {
    width: 100%;
    flex-wrap: wrap;
  }
  .header .container .account {
    display: none;
  }
  .banner {
    background-size: 100% 100%;
  }
  .banner .wave {
    width: 100%;
    height: 227px;
    background: rgba(0, 0, 0, 0.55);
  }
  .prateleira .container {
    flex-wrap: nowrap;
  }
  .prateleira .title-container .title {
    margin: 0 22px 4px;
  }
  .prateleira .title-container div {
    margin-left: 22px;
  }
  .slick-next .slick-arrow {
    display: none;
  }
  .footer .container .info .contact {
    width: 100%;
    align-items: center;
  }
  .footer .container .info .logos {
    margin-top: 16px;
  }
  /* Commons Styles */
  .banner .wave div h2, .prateleira, .footer .container .info .logos {
    width: 100%;
  }
  .banner .wave>div, .footer .container {
    width: 100%;
    margin: 0 22px;
  }
}